{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<section class="container">
  <div class="columns">
    <div class="column is-3">
      <aside class="is-medium menu">
        <p class="menu-label" id="child-name">
          {{ child.name }}
        </p>
        <figure class="image is-128x128 is-square">
          <img class="is-rounded" src="{{ url_for('file', filename=child.avatar_url) }}">
        </figure>
        <p class="menu-label" id="score-balance">
        </p>
      </aside>
    </div>
    <div class="column is-9">
      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">
            Weekly Stars
          </p>
        </header>
        <div class="card-table is-bordered">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody id="chart-body">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="confirm-delete-star">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Permanently remove this star?</p>
      </header>
      <footer class="modal-card-foot">
        <button class="button is-danger" id='confirm-removal'>Yes, remove</button>
        <button class="button" id='cancel-removal'>Cancel</button>
      </footer>
    </div>
  </div>


  <div class="modal" id="add-star">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" id='score-date'></p>
      </header>
      <section class="modal-card-body">
        <div class="level badges field is-grouped is-grouped-multiline"></div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" id='cancel-add'>Cancel</button>
      </footer>
    </div>
</section>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
  $CHILD_ID = "{{ child.id }}"
  $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/chart/chart.js') }}"></script>
{% endblock %}