{% extends 'base.html' %}

{% block content %}
<section class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
      <div class="columns">
        <div class="column left">
          <h1 class="title is-1">Add a new  badge</h1>
          <h2 class="subtitle colored is-4"></h2>
          <p>Add a new badge.</p>
        </div>
        <div class="column right has-text-centered">
          <h1 class="title is-4">Sign up today</h1>
          <p class="description">Register for our free service</p>
          <form method="POST" enctype="multipart/form-data" class="has-text-left">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input name="name" id="name" class="input is-medium" type="text" placeholder="Badge Name" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Badge Image</label>
              <div class="control">
                <input name="badge_image" id="badge_image" class="input is-medium" type="file"
                  placeholder="Badge Image" required>
              </div>
            </div>
            <button class="button is-block is-primary is-fullwidth is-medium">Add Badge</button>
            <br>
            <small><em>Have a nice day.</em></small>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}