{% extends 'bootstrap/base.html' %}

{% block metas %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>
  $USERNAME = '{{ username }}'
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  function getImage(filename, width) {
    return $("<img src='/static/" + filename + "' width='" + width + "', height='auto', class='card-img-top rounded'>")
  }
  var kidName
  var avatar
  var requiredStars
  var prizeImage
  switch ($USERNAME) {
	  case 'linli':
		  kidName = 'Lin Li';
		  avatar = getImage('linli.jpg', 200)
      prizeImage = getImage('nintendoswitch.jpg', '50%')
      requiredStars = 300
		  break;
	  case 'ethanli':
		  kidName = 'Ethan Li';
		  avatar = getImage('ethanli.jpg', 200)
      prizeImage = getImage('legoboo.jpeg', '50%')
      requiredStars = 50
		  break;
	  case 'oliverli':
		  kidName = 'Oliver Li';
		  avatar = getImage('oliverli.jpg', 400)
      prizeImage = getImage('legocity.jpg', '50%')
      requiredStars = 190
		  break;
	  case 'rebecca':
		  kidName = 'Rebecca Li';
		  avatar = getImage('ethanli.jpg', 200)
      prizeImage = getImage('legomario.jpeg', '50%')
      requiredStars = 100
		  break;
  }

  $('#kid-name').html(kidName)
  $('#avatar').append(avatar)

</script>

{% endblock %}

{% block title %}
    Reward Chart
{% endblock %}

{% block content %}    
  <div class='row'>
      <div class='col-sm-4'>
        <div class='card text-center' id='avatar'>
          <div>
            <h2 class='card-title', id='kid-name'></h2>
          </div>
        </div>        
      </div>
      <div class='col-sm-7'>
        {% block status %}{% endblock %}
      </div>
  </div>

    {% block startable %}{% endblock %}
    {% block console %}{% endblock %}
{% endblock %}

{% block styles %}
	{{ super() }}
{% endblock %}
