{% extends 'base.html' %}

{% block status %}
<h2 id='status'>
</h2>
{% endblock %}

{% block startable %}
<table class='table'>
  <tbody>
    <tr>
      <th scope='row'></th>
      <td><div class='star-box'></div></td>
    </tr>
    <tr>
      <th scope='row'></th>
      <td><div class='star-box'></div></td>
    </tr>
    <tr>
      <th scope='row'></th>
      <td><div class='star-box'></div></td>
    </tr>
    <tr>
      <th scope='row'></th>
      <td><div class='star-box'></div></td>
    </tr>
    <tr>
      <th scope='row'></th>
      <td><div class='star-box'></div></td>
    </tr>
    <tr>
      <th scope='row'></th>
      <td><div class='star-box'></div></td>
    </tr>
    <tr>
      <th scope='row'></th>
      <td><div class='star-box'></div></td>
    </tr>
  </tbody>
</table>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
  var DAYS = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  var rowHeads = $('th[scope="row"]')
  var oneDay = 24 * 3600 * 1000
  var oneHour = 3600 * 1000
  var oneMin = 60 * 1000
  var oneSec = 1000

  var now = new Date()
  var nowSec = now.getTime()
  var lastSundaySec
  var stars
  var starsLeft

  function updateTime() {
    lastSundaySec = nowSec - oneDay * now.getDay() - oneHour * now.getHours() - oneMin * now.getMinutes() - oneSec * now.getSeconds()
    for (var i = 0; i < 7; ++i) {
      var d = new Date(lastSundaySec + i * oneDay)
      rowHeads[i].innerHTML = '(' + (d.getMonth() + 1) + '/' + d.getDate() + ') ' + DAYS[i]
    }
    for (var i = 0; i < 7; ++i) {
      $('tr').eq(i).removeClass('bg-primary')
    }

    $('tr').eq(now.getDay()).addClass('bg-primary')
  }

  // do a time update immediately
  updateTime()

  var starBox = $('.star-box').eq(now.getDay())

  function plotInStarBox(box, stars) {
    box.empty()
    for (var star of stars) {
      var img
      switch (star.reason) {
        case 'brushteeth':
          img = getImage('brushteeth.png', '100px')
          break
        case 'sharing':
          img = getImage('sharing.png', '100px')
          break
        case 'study':
          img = getImage('study.png', '100px')
          break
        default:
          img = getImage('star.png', '100px')
      }
      box.append(img)
    }
  }

  function fromThisWeek(star) {
    return star.timestamp > lastSundaySec
  }


  function plotStars(stars) {
    var weeklyStars = []
    for (var i = 0; i < 7; i++) {
      weeklyStars.push([])
    }
    for (var star of stars) {
      if (!fromThisWeek(star)) continue;
      weeklyStars[new Date(star.timestamp).getDay()].push(star)
    }
    for (var i = 0; i < 7; i++) {
      var box = $('.star-box').eq(i)
      plotInStarBox(box, weeklyStars[i])
    }
  }

  var totalStars = 0

  function updateStatus() {
    var statusBlock = $('#status')
    statusBlock.empty()
    statusBlock.append(totalStars)
    statusBlock.append(' / 300 ')
    statusBlock.append(getImage('star.png', '50px'))

    statusBlock.append('<br>')
    var progress = $('<div class="progress" style="height: 5vh;"></div>')
    var percentage = Math.floor(totalStars/3)
    var progressBar = $('<div class="progress-bar" role="progressbar" style="width: ' + percentage + '%;" aria-valuenow="' + percentage + '" aria-valuemin="0" aria-valuemax="100">' + percentage + '%</div>')
    progress.append(progressBar)
    statusBlock.append(progress)
    statusBlock.append(getImage('nintendoswitch.jpg', '70%'))
  }

  function updateStars() {
    $.get($SCRIPT_ROOT + '/_get_stars_count?username=' + $USERNAME, function(count) {
      if (count === totalStars) return
      totalStars = count
      starsLeft = 300 - totalStars
      $.get($SCRIPT_ROOT + '/_get_stars?username=' + $USERNAME, function(data) {
        stars = data
        console.log(stars)
        plotStars(stars)
        updateStatus()
      })
    })
  }

  updateStars()

  setInterval(() => {
      now = new Date()
      nowSec = now.getTime()
      updateTime()
  }, 5000);
  setInterval(() => {
      updateStars()
  }, 500);
</script>
{% endblock %}
